<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>VuePractice</title>
</head>

<body>

  <!-- ラジオボタンを使用 -->
  <div id="v-model-radiobutton">
    <input type="radio" id="one" value="One" v-model="picked" />
    <label for="one">One</label>
    <br />
    <input type="radio" id="two" value="Two" v-model="picked" />
    <label for="two">Two</label>
    <br />
    <span>Picked: {{ picked }}</span>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="model4.js"></script>
</body>

</html>